/* Menu */
.sb-menu-item .sb-card-tp .sb-price {
    width: 150px;
}


/* End Menu */

/* Home */
.sb-illustration-1-2 .sb-food-1 {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.sb-illustration-1-2 .sb-food-2 {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.sb-illustration-1-2 .sb-food-3 {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    object-fit: cover;
}


/* End Home */



/* Header  */



/* End Hedaer */